* {
    font-size: 16px;
}

body {
    background: #FC354C;
    background: -webkit-linear-gradient(to right, #0ABFBC, #FC354C);
    background: linear-gradient(to right, #0ABFBC, #FC354C);
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#root, 
#root > div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15%;
    width: 90%;
}

textarea,
#markdown-preview {
    width: 48%;
    height: 80vh;
    padding: 2%;
    border-radius: 30px;
    box-sizing: border-box;
    overflow-y: auto;
}

#markdown-preview {
    overflow-x: auto;
    background-color: #fff;
}